<?php
print_header_simple(get_string('editclassroom','block_timetable'),'',get_string('editclassroom','block_timetable'),'','',false);		

include('../tabs.php');
?>

<div class="sideblock">
<div class="header">
<h3><?php echo get_string('editclassroomsips','block_timetable') ?></h3>
</div>
<div class="content">
<?php //TAULA DE LA CLASSSE CONCRETA ?>
<table style="text-align: left; width: 100%;" class="flexible generaltable generalbox ">
<tbody>
	 <tr>
	 <th class="header c0" scope="col"><p><?php echo get_string('actiontype','block_timetable') ?></p></th>
	 <th class="header c1" scope="col"><p><?php echo get_string('classroomid','block_timetable') ?></p></th>
	 <th class="header c2" scope="col"><p><?php echo get_string('classroomname','block_timetable') ?></p></th>
	 <th class="header c3" scope="col"><p><?php echo get_string('classroomcapacity','block_timetable') ?></p></th>
	 <th class="header c4" scope="col"><p><?php echo get_string('action','block_timetable') ?></p></th>
	 </tr>	
<form action = "../controller/ttcontroller.php?viewrequired=editclassroom" method = "POST">
	<input type="hidden" name="sesskey" value="<?php echo $USER->sesskey ?>" >
	<input type="hidden" name="courseid" value="<?php echo $courseid ?>" >	
	<input type="hidden" name="timetableid" value="<?php echo $timetableid ?>" >	
	
	<input type="hidden" name="actionparam" value="action" >
	<input type="hidden" name="classroomid" value="<?php echo $classroom->id ?>">

	<tr>
	<td class="cell c0">
	<select name="actiontype">
				<option selected value="update"><?php echo get_string('updateclassroom','block_timetable') ?></option>
				<option value="delete"><?php echo get_string('deleteclassroom','block_timetable') ?></option>
				<option value="editclassroomips"><?php echo get_string('editclassroomsips','block_timetable') ?></option>
		  </select>
	</td>
	<td class="cell c1"><?php echo $classroom->id ?></td>
	<td class="cell c2"><input type="text" name="classroomname" value="<?php echo $classroom->name ?>"></td>
	<td class="cell c3"><input type="text" name="classroomcapacity" value="<?php echo $classroom->capacity ?>"></td>
	<td class="cell c4"><input value="<?php echo get_string('actionclassroom','block_timetable') ?>" type="submit"></td>		
	</form>
	</tr>
</form>
</tbody>
</table>
</div>
<?php //IPS DE LA CLASSE ?>

<BR>

<div class="header">
<?php echo get_string('addip','block_timetable') ?>
</div>
<div class="content">
<form action = "../controller/ttcontroller.php?viewrequired=editingclassroomips" method = "POST">
					<input type="text" name="ip" value="">
					<input type="hidden" name="sesskey" value="<?php echo $USER->sesskey ?>" >
					<input type="hidden" name="courseid" value="<?php echo $courseid ?>" >
					<input type="hidden" name="timetableid" value="<?php echo $timetableid ?>" >
					
					<input type="hidden" name="addip" value="addip" >
					<input type="hidden" name="classroomid" value="<?php echo $classroom->id ?>" >
					<input value="<?php echo get_string('addip','block_timetable') ?>" type="submit">
</form>

<BR>

<?php 
		if ( $ipslist=='' ){
?>
<?php echo get_string('noipsinclassroom','block_timetable') ?>
				<BR>
<?php
		}else{
?>
			<table class="flexible generaltable generalbox" style="text-align: left; width: 50%;" >
  			<tbody>
    		<tr>
    		<th  scope="col" style="width:5%;"></th>
     		<th class="header c1" scope="col" style="width: 70%;"><?php echo get_string('ip','block_timetable') ?></th>
<?php  	if (has_capability('block/timetable:editclassroom', $context)) { ?>
     			<th class="header c0"></th>
<?php 		} ?>
    		</tr>

<?php 			
			foreach ($ipslist as $ip){
?>
			<tr>
				<td class="cell c0"></td>
				<td class="cell c1" style="width: 70%;">
				<?php echo $ip->ip ?>
				</td>
				<td>
					<form action = "../controller/ttcontroller.php?viewrequired=editingclassroomips" method = "POST">
					<input type="hidden" name="sesskey" value="<? echo $USER->sesskey ?>" >
					<input type="hidden" name="courseid" value="<?php echo $courseid ?>" >
					<input type="hidden" name="timetableid" value="<?php echo $timetableid ?>" >
					
					<input type="hidden" name="deleteip" value="deleteip" >
					<input type="hidden" name="classroomid" value="<?php echo $classroomid ?>" >
					<input type="hidden" name="classroomid" value="<?php echo $ip->classroomid ?>">
					<input type="hidden" name="ip" value="<?php echo $ip->ip ?>" >
					<input  type="submit" name="submit" value="<?php echo get_string('deleteip','block_timetable')?>" >
					</form>	
				</td>
			</tr>
<?php 
			}
?>
			</tbody></table>
<?php 
		}
?>
		</div></div>
		
<?php 
	
print_footer(get_record('course', 'id',$courseid));
?>
