<?php
print_header_simple(get_string('readgroup','block_timetable'),'',get_string('readgroup','block_timetable'),'','',false);		

include('../tabs.php');

?>
<div class="sideblock">
<div class="header">
<form action = "../controller/ttcontroller.php?viewrequired=readgroup" method = "POST">
	<input type="hidden" name="sesskey" value="<?php echo $USER->sesskey ?>" >
	<input type="hidden" name="courseid" value="<?php echo $courseid ?>" >
	<input type="hidden" name="timetableid" value="<?php echo $timetableid ?>" >
	

	<h3><?php echo get_string('readgroup','block_timetable') ?></h3>
	</div>
	<div class="content">
	<TABLE  style="text-align: left; width: 60%;" border="0" >
	<TR>
		<TD class="cell c0">
			<select name="groupid" style="width: 155px;">
<?php
			foreach ($groups as $g){
?>
				<option value="<?php echo $g->id ?>" 
						<?php
						if (isset($group)){	if ($group->id==$g->id) { echo ' selected '; } 	}
						?> >
					<?php echo $g->name ?>
				</option>
<?php
			}
?>
			</select>
		</TD>
		<TD class="cell c1">
			<?php 
				if (isset($form->readaction)){
					if ($form->readaction=='students'){
						$checkedstudents='checked';
						$checkedhourtable='';
						$checkedattendance='';
					}
					if ($form->readaction=='hourtable'){
						$checkedstudents='';
						$checkedhourtable='checked';
						$checkedattendance='';
					}
					if ($form->readaction=='attendance'){
						$checkedstudents='';
						$checkedhourtable='';
						$checkedattendance='checked';
					}
				}else{
					$checkedattendance='';
					$checkedstudents = '';
					$checkedhourtable = 'checked';
				}
			?>
			<INPUT type="radio" <?php echo $checkedstudents ?> name="readaction" value="students"><?php echo get_string('readgroupstudents','block_timetable') ?>
			<BR>
			<INPUT type="radio" <?php echo $checkedhourtable ?> name="readaction" value="hourtable"><?php echo get_string('readgrouphourtable','block_timetable') ?>
			<BR>
			<?php 
				if (has_capability('block/timetable:seeattendance', $context)) { 
			?>	
					
				<INPUT type="radio" <?php echo $checkedattendance ?> name="readaction" value="attendance"><?php echo get_string('readgroupattendance','block_timetable') ?>
			<?php } ?>
			
		</TD>
		<TD class="cell c2">
			<input value="<?php echo get_string('actiongroup','block_timetable') ?>" type="submit">
		</TD>
	</TR>
	</TABLE>
	<BR>
<?php 
	if (isset($groupstudentsnumber)){
?>
		<TABLE style="width: 50%;" >
		<TR>
			<TD class="cell c0" style="width: 60%;" ><?php echo get_string('totalplaces','block_timetable') ?></TD>
			<TD class="cell c1"><?php echo $groupstudentsnumber ?></TD>
		</TR>
		<TR>
			<TD class="cell c0" style="width: 60%;"><?php echo get_string('studentsenlisted','block_timetable') ?></TD>
			<TD class="cell c1"><?php echo $studentsenlisted ?></TD>
		</TR>
		<TR>
			<TD class="cell c0" style="width: 60%;"><?php echo get_string('freeplaces','block_timetable') ?></TD>
			<TD class="cell c1"><?php echo $freeplaces ?></TD>
		</TR>
		</TABLE>
<?php
	}
?>

</form>
</div></div>

<BR>
<?php 
if ( isset($form->readaction) ) {

	
	if ($form->readaction=='students'){
?>

		<div class="sideblock">
		<div class="header">
			<H3><?php echo get_string('studentslist','block_timetable') ?></H3>
		</div>
		<div class="content">
<?php 
		if ( $studentslist=='' ){
?>
					<?php echo get_string('nostudentsingroup','block_timetable') ?>
				<BR>
<?php
		}else{
?>
			<table class="flexible generaltable generalbox" style="text-align: left; width: 50%;" >
  			<tbody>
    		<tr>
    		<th  scope="col" style="width:5%;"></th>
     		<th class="header c1" scope="col" style="width: 70%;"><?php echo get_string('username','block_timetable') ?></th>
<?php
     		if (has_capability('block/timetable:editgroup', $context)) {
?>
     			<th class="header c0"></th>
<?php 
     		}
?>
    		</tr>

<?php 			
			foreach ($studentslist as $student){
?>
			<tr>
<?php 
				$userdata = get_record("user",'id',$student->userid);
?>
				<td class="cell c0"></td>
				<td class="cell c1" style="width: 70%;">
                                <?php echo '<a href="'.$CFG->wwwroot.'/user/view.php?id='.$userdata->id.'&amp;course='.SITEID.'">' ?>
				<?php echo $userdata->firstname.' '.$userdata->lastname; ?>
                                <?php '</a>' ?>
				</td>
				<?php printdeletestudent($courseid,$sesskey,$timetableid,$group->id,$userdata->id) ?>
			</tr>
<?php 
			}
?>
			</tbody></table>
<?php 
		}
?>
		</div></div>
<?php
	}
	
	if ($form->readaction=='hourtable'){
		require_once($CFG->dirroot.'/calendar/lib.php');	
?>
				<div class="sideblock">
				<div class="header">
				<!--table class="flexible generaltable generalbox" style="width: 100%;"  cellpadding="2" cellspacing="2"-->
				<table style="width: 100%;border-style: none;"  cellpadding="2" cellspacing="2">
  				<tr>
   
					<td style="width: 50%;text-align: left;"><H3><?php echo get_string('hourtablegroup','block_timetable') ?></H3></TD>
					<td style="width: 50%;text-align: right;">
						<?php printjoinggroup($courseid,$sesskey,$timetableid,$group->id) ?>
						
				</TD></tr></table>
				</div>
<?php 
				/*****************************************/
				/****** PRINTING HOURTABLE   *************/
				/*****************************************/
?>				
				<div class="content">
<?php 
				if ( $validhours=='' ){
?>
					<?php echo  get_string('noclasshoursforgroup','block_timetable') ?>
					<BR>
<?php 
				}else{
?>
					<table class="flexible generaltable generalbox " >
				
					<tr>
					<TH class="header c0"></TH>
<?php 
					//WEEKDAYS HEADER
					for($i = $display->minwday; $i <= $display->maxwday; ++$i) {
					 // This uses the % operator to get the correct weekday no matter what shift we have
					 // applied to the $display->minwday : $display->maxwday range from the default 0 : 6		
						if(CALENDAR_WEEKEND & (1 << ($i % 7))) {
?>
							<th class="header" style="text-align: center;color:red; width: 130px;"  scope="col">
					        <?php echo  get_string($CALENDARDAYS[$i % 7], 'calendar') ?>
							<BR>
							</th>
<?php 						
						}else{  
?>
					        <th class="header" style="text-align: center; width: 130px;"  scope="col">
					        <?php echo  get_string($CALENDARDAYS[$i % 7], 'calendar') ?>
								<BR>	
							</th>
<?php
						}
					}
?>
					</tr>

<?php 					
					//HOURS DISPONIBLE
						$firsthour = true;
					
						foreach ($validhours as $validhour){
							if(!$firsthour){
								$diferencia = ((strtotime($validhour->starthour))-(strtotime($oldvalidhour->endhour)));
								if ($diferencia>=1200 ){
									for ($i = 0; $i < $diferencia; ($i=$i+1200)) {
?>
				     					<TR><TD class="cell" rowspan="1"></TD><TD class="cell" rowspan="1"></TD><TD class="cell" rowspan="1"></TD>
				     						<TD class="cell" rowspan="1"></TD><TD class="cell" rowspan="1"></TD><TD class="cell" rowspan="1"></TD>
				     						<TD class="cell" rowspan="1"></TD><TD class="cell" rowspan="1"></TD></TR>
<?php
				 					}
				 				}
							}
?>
								<TR>
									<TD class="cell" style="text-align: center;width: 130px;">
										<?php echo  strftime ( "%H:%M", strtotime($validhour->starthour)) ?>
										<BR>
										<?php echo strftime ( "%H:%M", strtotime($validhour->endhour)) ?>
									</TD>
<?php 
								for($i = $display->minwday; $i <= $display->maxwday; ++$i) {
									//S'ha de canviar la get_record per la get_record_select --> get_record_select($table, $select=, $fields='*')
									$selectclause =  "starthour='" .$validhour->starthour."' AND endhour='".$validhour->endhour."' AND weekday='" . $i ."' AND groupid = " . $group->id . "";
									if (record_exists_select('timetable_hourtable', $selectclause)){ 
?>
										<TD class="cell" style="text-align: right;">
<?php 
											$c = get_record_select('timetable_hourtable',$selectclause);// or die(mysql_error());
											$classroom = get_record('timetable_classroom','id',$c->classroomid);
?>
											<font size="-2"><?php echo $classroom->name ?></font>
										</TD>
<?php
									}else{
?>
											<TD  class="cell" style="text-align: right;">
											</TD>
<?php
									}	
				
								}
?>
							</TR>
<?php 
							$oldvalidhour->starthour = $validhour->starthour;
							$oldvalidhour->endhour = $validhour->endhour;
							$firsthour = false;	
							
						}
?>					
						</table>
<?php 

				}
?>
</div></div>
		
		
<?php 		
	}
	if ($form->readaction=='attendance'){
		if (has_capability('block/timetable:seeattendance', $context)) {
?>	
	
		<div class="sideblock">
		<div class="header">
			<H3><?php echo get_string('studentsattendance','block_timetable') ?></H3>
		</div>
		<div class="content" >
			<form action = "../controller/ttcontroller.php?viewrequired=readgroup" method = "POST">	
				<input type="hidden" name="sesskey" value="<?php echo $USER->sesskey ?>" >
				<input type="hidden" name="courseid" value="<?php echo $courseid ?>" >
				<input type="hidden" name="timetableid" value="<?php echo $timetableid ?>" >
				<input type="hidden" name="readaction" value="attendance">
				<input type="hidden" name="groupid" value="<?php echo $group->id ?>" >
				<?php
				echo get_string('firstlogdate','block_timetable');
				print_date_selector('data1day','data1month','data1year',$data1);
				echo get_string('lastlogdate','block_timetable');
				print_date_selector('data2day','data2month','data2year',$data2);
				?>
				<input value="<?php echo get_string('startattendancelog','block_timetable') ?>" type="submit"> &nbsp;
			</form>
			<BR>
		
		<?php
		if (isset($result_logs)){
		?>

                                     <div id="tablaLogs" >
					<div id="Layer1" style="position:relative;float:left;">
						<TABLE class="flexible generaltable generalbox">
							<?php //Pintar la fila de les classes fetes ?>
							<TR>
								<TH class="header c0">
										<?php echo get_string('classes','block_timetable');?>
										<BR>
											&nbsp;
										<BR>
										<?php echo get_string('student','block_timetable'); ?>
								</TH>
							</TR>
							<?php
								foreach($studentslist as $student){
							?>
									<TR>
										<TD class="cell" >
											<?php 	$userdata = get_record("user",'id',$student->userid); ?>
											<?php echo $userdata->lastname; ?><BR>
											<?php echo $userdata->firstname; ?><BR>
											<?php $userheightcell = selectMaxUserAccesses($student->userid,$result_logs,$classesdone);
												
												if (($userheightcell)>1){
													for ($i=2;$i<=($userheightcell);$i++){ ?>
														&nbsp;<BR>&nbsp;<BR>
												<?php
													}
												}
											?>
										</TD>
									</TR>
							<?php } ?>
						</TABLE>
					</div>

					<div id="Layer1" style="position:relative;width:80%;overflow:auto;float:left;">
						<TABLE class="flexible generaltable generalbox">
								<TR>
										<?php foreach($classesdone as $classe){ ?>
											<TH class="header c0">
												<?php echo strftime("%x",strtotime($classe->data)); ?>
												<BR>
												<?php echo $classe->starthour.' - '.$classe->endhour; ?>
												<BR>
												<?php if ($classe->name!='') { echo $classe->name;}else{echo $classe->classroomid;} ?>
											</TH>
										<?php } ?>
								</TR>
								<?php
									foreach($studentslist as $student){
								?>
										<TR>
											<?php foreach($classesdone as $classe){ ?>
												<TD class="cell">
												<?php $array = $result_logs[$student->userid][$classe->id]; ?>
												
												<?php if($array!=''){ ?>
														<?php foreach($array as $rcell){ ?>
																<?php if ($rcell!=''){ ?>
																		<FONT COLOR="<?php echo $rcell[color] ?>">
																			<?php echo $rcell[ip];  ?> <BR>
																			<?php if ($rcell[ip]!=get_string('noaccess','block_timetable') ){ ?>
																					(<?php echo $rcell[accesstime];  ?>)
																			<?php } ?>
																			<BR>
																		</FONT>
																<?php } ?>
														<?php } ?>
												<?php } else { ?>
													<?php echo get_string('noaccess','block_timetable'); ?> <BR>
													<BR>
												<?php } ?>

												</TD>
											<?php } ?>
										</TR>
								<?php
									}
								?>
						</TABLE>
			
					 </div>
			             </div> <!--TablaLogs"-->

             <div id="tablafinal" style="clear: both;">
             &nbsp;<BR />&nbsp;<BR />&nbsp;
             <table style="text-align: left; width: 100%; height: 16px;" border="0" cellpadding="2" cellspacing="2">
  		  <tbody>

		<tr>
			<td style="background-color: RED; height: 16px; width: 32px;"></td>
			<td></td>
			<td>
				<?php echo get_string('accessfrominvalidip','block_timetable') ?>
			</td>
		</tr>
		<tr>
			<td style="background-color: black; height: 16px; width: 32px;"></td>
			<td></td>
			<td>
				<?php echo get_string('accessfromvalidip','block_timetable') ?>
			</td>
    	        </tr>
		<tr>
			<td style="height: 16px;width: 120px;" colspan="2"><?php echo get_string('noaccess','block_timetable')?></td>
			<td>
				<?php echo get_string('noaccessfromanyip','block_timetable') ?>
			</td>
    	        </tr>
		</tbody>
             </table>
     </div><!--TablaFInal-->



		<?php
		}else{
			echo get_string('nologs','block_timetable');
		}
			
		?>
		<BR><BR>
		
			
		</div>
		</div>
<?php
	}else{ 
		/*END if (has_capability('block/timetable:seeattendance', $context)) {*/
		notify( get_string('nocapabilities', 'block_timetable') ,'notifyproblem','center',false);
	}
}/*END if ($form->readaction=='attendance'){ */
	
}
?>
<BR>
<?php 
print_footer(get_record('course', 'id',$courseid));
?>
